.toolbarAlign {
    display: flex;
    flex-direction: row-reverse;
}

.toolbar {
    display: flex;
    flex-direction: row;
    width: 250px;

}


.item {
    flex: 1;
    line-height: 32px;
    font-size: 24px;
    color: black;
    padding: 0px;
    font-weight:bold;
}

.blackItem {
    filter: saturate(0);
}
